.assignment-list {
  padding: 1.5rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (min-width: 641px) {
  .assignment-list__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .assignment-list__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}